[submodule "backend/lib/forge-std"]
	path = backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/lib/openzeppelin-foundry-upgrades"]
	path = backend/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "backend/foundry_ethkipu/lib/forge-std"]
	path = backend/foundry_ethkipu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/foundry_ethkipu/lib/openzeppelin-foundry-upgrades"]
	path = backend/foundry_ethkipu/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "backend/foundry_ethkipu/lib/openzeppelin-contracts-upgradeable"]
	path = backend/foundry_ethkipu/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
